$pageCenter: 150px 300px;
$pageFonts: Arial, sans-serif;

body {
  margin: $pageCenter;
  font-size: 30px;
  font-family: $pageFonts; 
}

%calendar-days {
    width: 100px;
    height: 100px;
    margin: 0.5px;
    border: 0.5px solid black;
    background-color: #eee;
}

.calendar {
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
    div {
        @extend %calendar-days;
        text-align: center;
        &:hover {
            background-color: pink;
            margin-top: -19.5px;
            cursor: pointer;
            transition: 0.5s;
        }
    }
}
@for $i from 1 through 31{
    .calendar div:nth-child(#{$i})::after {
        content: '#{$i * 1}';
        line-height: 100px;
    }
}



